*{
    box-sizing: border-box;
}

body{
    background: rgb(22, 22, 22);
}


nav{
    background: rgb(255, 106, 0);
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    color: black;
    margin-bottom: 30px;
}

footer{
    background: rgb(255, 106, 0);
    padding: 15px;
    gap: 15px;
    color: black;
    text-align: center;
    margin-top: 30px;
}


.place-content {
    padding: 50px;
    display: flex;
    gap: 20px;
}

.place-content img {
    width: 300px;
    border-radius: 8px;
}


.place-directions {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    margin-top: 10px;
}

.country {
    font-size: 14px;
    margin-left: 10px;
    margin-right: 20px;
    text-transform: uppercase;
}

.place-content-right h2 {
    font-size: 30px;
    margin-bottom: 10px;
}

.period {
    font-size: 15px;
    margin-bottom: 20px;
}

.place-content-right p {
    text-align: justify;
}